body {
  font-family: Arial, sans-serif;
  font-style: italic;
  color: darkmagenta;
  margin: 0;
  padding: 0;
  display: center;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
h5 {
  text-align: left;
  margin-top: 20px;
  color: rgb(8, 0, 255);
}

.camera-container {
  display: center;
  margin-top: 20px;
  width: 100%;
}

.quiz-container {
  display: center;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
  margin-right: 10px;
  height: 1000px;
}

video {
  max-width: 200%;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  margin-left: 250pt;
}

button {
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  margin-left: 250pt;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}
